table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    position: relative;
    text-align: center;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }

  p {
    color: darkgreen;
    font-size: 50px;
  }

  thead {
    color: blue
}

a {
  cursor: pointer;
}